* {
  margin: 0;
  padding: auto;
}

body {
  background-color: #f9f9f1;
}

img {
  width: 180px;
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin-bottom: 20px;
}

.zap {
  width: 25px;
  margin: 0 auto;
}

.descricao {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 120px;
}

h2 {
  font-size: 19px;
}

.img {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* textos */

._textos_argumento_kit {
  font-family: "Asap Condensed", sans-serif;
  font-size: 22px;
  color: #343434;
}

.complemento_argumento {
  font-family: "Abel", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
}

.subtitulo_argumento {
  font-family: "Abel", sans-serif;
  font-size: 20px;
  text-align: center;
}

.descricao_trabalho {
  font-family: "Asap Condensed", sans-serif;
  color: white;
  font-size: 20px;
}

.trabalho_ {
  font-family: "Fira Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.texto_titulo_argumento {
  margin-top: 40px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.texto_acompanhamento {
  font-family: 'Fira Sans', sans-serif;
  flex-direction: column;
}
/* responsividade mobile */ 


