* {
  margin: 0;
  padding: auto;
}

/* body {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.descricao {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 120px;
}

.video {
  margin: 120px;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 19px;
}

.img {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.geral_conteudo {
  display: flex;
  flex-direction: row;
}

.textos {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
}
.textos_geral {
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
}

.conhecer {
  background-color: #8DAB8F;
  font-size: 17px;
  border: none;
  padding: 15px;
  border-radius: 30px;
  color: white;
  margin-top: 15px;
}

/* textos */

.texto_titulo_argumento {
  font-size: 22px;
  font-family: "Poppins", sans-serif;

}

.titulo,
.subtitulo,
.conhecer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
}

.titulo {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

.art,
.total_clientes,
.satisfeitos {
  color: white;
}

.subtitulo {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

/* back */

.quadBranco {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 30px;
  width: 250px;
  margin:0 auto;
  -webkit-box-shadow: 10px 10px 38px -24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 38px -24px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 38px -24px rgba(0, 0, 0, 0.75);
}

.quadVerde {
  background: rgb(118,151,134);
  background: linear-gradient(0deg, rgba(118,151,134,1) 0%, rgba(145,175,146,1) 50%);
  width: 250px;
  border-radius: 20px;
  padding: 30px;
  color: white;
  -webkit-box-shadow: 10px 10px 38px -24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 38px -24px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 38px -24px rgba(0, 0, 0, 0.75);
}

.img_principal {
  display: flex;
  margin: 0 auto;
  margin: 120px;
  justify-content: center;
  align-items: center;
  text-align: start;
  flex-direction: row;
}

.textos_topos {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.img_parte_principal {
  display: flex;
  width: 325px;
  /* margin: 0 auto; */
  border-radius: 30px;
}

.work {
  background: url(/images/back.jpg) center no-repeat;
  width: auto;
}

.empurra_img {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.back_white {
  /* background-color: white; */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  width: 900px;
  margin: 0 auto;
  background-position: 0 50%;
  background-clip: content-box;
  border-radius: 25px;
  /* padding: 10px; */
  /* display: flex; */
  /* justify-content: center; */
  margin-top: 40px;
}

.wsp {
  background-color: #8DAB8F;

  border: none;
  width: 160px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 20px;
  color: white;
  margin-top: 20px;
}

.kit_argumento {
  margin: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.coluna_argumentos {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.back_argumentos {
  background-color: #7cd16471;
  -webkit-box-shadow: 10px 10px 38px -24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 38px -24px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 38px -24px rgba(0, 0, 0, 0.75);
  margin-right: 20px;
  padding: 25px;
  width: 200px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 20px;
}
